html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  overflow-x: hidden;
}

body {
  position: relative;
  display: block;
  height: 100%;
}

.navbar {
  margin: 0;
  padding: 25px 0;
  border: 0;
  background-color: rgba(10, 10, 10, .5);
}

.navcontainer {}

.upper-row {
  height: 60px;
}

.navbar .logo {
  height: 100%;
  vertical-align: middle;
}

.navbar .texts {
  height: 100%;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .text img {
  height: 100%;
}

.main img {
  width: 100%;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 110px 0 0 0;
  padding: 0;
}

.main-bg {
  position: absolute;
  height: 70%;
  width: 100%;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  margin: 30px 0;
  padding: 0;
  color: #fff;
}

.main-header h1,
.main-header h2,
.main-header h3,
.main-header h4 {
  margin: 0;
  line-height: 1;
  text-shadow: rgba(110, 110, 110, .6) 0 0 5px;
}

.main-header .first {}

.main-header .second {
  margin-right: 20px;
  margin-bottom: 15px;
}

.main-header .third {}

.main-body {
  background-image: url('../img/lapbg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 535px;
  margin: 30px 0;
  padding: 0;
}

.main-body-container {
  padding-top: 10%;
}

.code-info {
  color: #ffffff;
  margin-bottom: 10px;
}

.code-input {

}

.code-input-control {

}

.main-footer {}

section#contact {
  background-color: #222;
  background-image: url(../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control:focus {
  border-color: #3690C8;
  box-shadow: none;
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb;
}

section#contact::-moz-placeholder {
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb;
}

section#contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb;
}

section#contact .text-danger {
  color: #e74c3c;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  line-height: 40px;
}

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  line-height: 40px;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #3690C8;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}
