<table style="background-color:#F5F7FA;width:100%;margin:0;border:0px;text-align:center;min-height:300px;font-family:'arial';padding:0;border-spacing:0;">
  <tbody style="vertical-align:top;padding:0;margin:0;border:0;">
    <tr>
      <td style="padding:0;">
        <table style="max-width:650px;width:100%;border:none;margin:0 auto;min-height:120px;padding:0;border-spacing:0;">
          <tbody>
            <tr style="height:100px;">
              <td style="width:200px;padding:0;">
                <img style="width:100%;" src="http://www.intermed.online/img/logos/intermed.png">
              </td>
              <td style="text-align:right;vertical-align:middle;padding:0;">
                <p style="color:#bbb;font-size:14px;">Atenci&oacute;n y contacto:
                  <br>52 (33) 3125-2200
                  <br>hola@intermed.online</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;color:#ffffff;vertical-align:middle;padding:0;">
        <table style="max-width:650px;width:100%;border:none;padding-left:15px;padding-right:15px;background-color:#3690c8;margin:0 auto;height:350px;border-spacing:0;border-top:solid 1px rgba(0,0,0,.2);border-left:solid 1px rgba(0,0,0,.2);border-right:solid 1px rgba(0,0,0,.2);">
          <tbody>
            <tr style="height:100px;">
              <td style="text-align:center;vertical-align:middle;padding-left:10px;padding-right:10px;">
                <h1 style="color:#ffffff;font-size:30px;">Bienvenido Dr(a). Karla Hernandez.</h1>
                <p style="color:#ffffff;font-size:20px;color:rgba(255,255,255,0.9);">Agredecemos tu tiempo y atenci&oacute;y te invitamos a visitar nuestra p&aacute;gina y conocer
                  <strong>Intermed<sup>&reg;</sup></strong>, la nueva red social que revolucionar&aacute;la manera en que trabajas y te conectas con tu entorno profesional.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;vertical-align:middle;border:none;padding:0;">
        <table style="max-width:650px;width:100%;border:none;padding:0;background-color:#ffffff;margin:0 auto;height:200px;border-spacing:0;border-left:solid 1px rgba(0,0,0,.2);border-right:solid 1px rgba(0,0,0,.2);">
          <tbody>
            <tr style="height:100px;">
              <td style="text-align:center;vertical-align:middle;padding:0;">
                <h2>Este es tu codigo de acceso</h2>
                <strong>CODIGO</strong>
                <p>
                  ingresa a
                  <br> <a href="http://intermed.online">www.intermed.online</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;vertical-align:middle;border:none;padding:0;">
        <table style="max-width:650px;width:100%;border:none;padding:0;;background-color:#ffffff;margin:0 auto;min-height:200px;border-spacing:0;border-left:solid 1px rgba(0,0,0,.2);border-right:solid 1px rgba(0,0,0,.2);">
          <tbody>
            <tr style="height:200px;">
              <td style="text-align:center;vertical-align:middle;padding:10px;width:200px;">
                <img style="width:100%;border:solid 2px #b9c2cb;border-radius:100px;" src="http://www.intermed.online/img/about/is1.png">
              </td>
              <td style="text-align:left;vertical-align:middle;padding-left:15px;padding-right:15px;">
                <h3>Intermed<sup>&reg;</sup>, una red social Funcional.</h3>
                <p style="text-align:justify;font-size:14px;color:rgba(0,0,0,.5);">
                  Intermed<sup>&reg;</sup> es una comunidad que se basa en las m&eacute;canicas de las redes sociales, poniendo a tu disposici&oacute;n las funciones mas &uacute;tiles de est&aacute;s. Adem&aacute;s de incluir herramientas profesionales
                  especificas para tus labores como m&eacute;dico, te permite mantenerte en contacto con tu entorno de trabajo. (Pacientes, colegas, proveedores, etc.)
                </p>
              </td>
            </tr>
            <tr style="height:30px;">
              <td></td>
            </tr>
          </tbody>
        </table>
        <table style="max-width:650px;width:100%;border:none;padding:0;;background-color:#ffffff;margin:0 auto;min-height:200px;border-spacing:0;border-left:solid 1px rgba(0,0,0,.2);border-right:solid 1px rgba(0,0,0,.2);">
          <tbody>
            <tr style="height:200px;">
              <td style="text-align:left;vertical-align:middle;padding-left:15px;padding-right:15px;">
                <h3>Estad&iacute;sticas.</h3>
                <p style="text-align:justify;font-size:14px;color:rgba(0,0,0,.5);">
                  Recibe valiosa informaci&oacute;n directamente de tus pacientes. Al t&eacute;rmino de cada cita, tus pacientes podr&aacute;n evaluar el servicio recibido, y sus evaluaciones se reflejar&aacute;n en estad&iacute;sticas que podr&aacute;s consultar de manera
                  privada. ¡Identifica y fortalece tus &aacute;reas de oportunidad!.
                </p>
              </td>
              <td style="text-align:center;vertical-align:middle;padding:10px;width:200px;">
                <img style="width:100%;border:solid 2px #b9c2cb;border-radius:100px;" src="http://www.intermed.online/img/about/is6.png">
              </td>
            </tr>
            <tr style="height:30px;">
              <td></td>
            </tr>
          </tbody>
        </table>
        <table style="max-width:650px;width:100%;border:none;padding:0;;background-color:#ffffff;margin:0 auto;min-height:200px;border-spacing:0;border-bottom:solid 1px rgba(0,0,0,.2);border-left:solid 1px rgba(0,0,0,.2);border-right:solid 1px rgba(0,0,0,.2);">
          <tbody>
            <tr style="height:200px;">
              <td style="text-align:center;vertical-align:middle;padding:10px;width:200px;">
                <img style="width:100%;border:solid 2px #b9c2cb;border-radius:100px;" src="http://www.intermed.online/img/about/is6.png">
              </td>
              <td style="text-align:left;vertical-align:middle;padding-left:15px;padding-right:15px;">
                <h3>Historiales Colaborativos.</h3>
                <p style="text-align:justify;font-size:14px;color:rgba(0,0,0,.5);">
                  Consulta, edita y actualiza tus historiales en cualquier momento y desde cualquier lugar, vincul&aacute;ndolos a los perfiles de tus pacientes en la red social. Nuestro sistema de expedientes en l&iacute;nea te permitira manejar tu informaci&oacute;n
                  de manera mas segura, din&aacute;mica y eficiente que nunca.
                </p>
              </td>
            </tr>
            <tr style="height:30px;">
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="max-width:650px;width:100%;border:none;margin:0 auto;min-height:200px;padding:0;border-spacing:0;">
          <tbody>
            <tr style="height:100px;">
              <td style="text-align:left;vertical-align:middle;padding:0;">
                <p style="color:#bbb;font-size:14px;">Atenci&oacute;n y contacto:
                  <br>52 (33) 3125-2200
                  <br>hola@intermed.online</p>
              </td>
              <td style="width:200px;padding:0;">
                <img style="width:100%;" src="http://www.intermed.online/img/logos/intermed.png">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
