* {
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-text-stroke: .1pt;
}

.s10 {
  font-size: 10px;
}

.s15 {
  font-size: 15px;
}

.s20 {
  font-size: 20px;
}

.s25 {
  font-size: 25px;
}

.s30 {
  font-size: 30px;
}

.s35 {
  font-size: 35px;
}

.s40 {
  font-size: 40px;
}

.s45 {
  font-size: 45px;
}

.s50 {
  font-size: 50px;
}

.s55 {
  font-size: 55px;
}

.s60 {
  font-size: 60px;
}

.s65 {
  font-size: 65px;
}

.s200 {
  font-size: 200px;
}

.uppr {
  text-transform: uppercase;
}

.lwr {
  text-transform: lowercase;
}

.cptlz {
  text-transform: capitalize;
}

.notransform {
  text-transform: none;
}

.ls-5 {
  letter-spacing: -5px;
}

.ls-4 {
  letter-spacing: -4px;
}

.ls-3 {
  letter-spacing: -3px;
}

.ls-2 {
  letter-spacing: -2px;
}

.ls-1 {
  letter-spacing: -1px;
}

.ls0 {
  letter-spacing: 0px;
}

.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.ls3 {
  letter-spacing: 3px;
}

.ls4 {
  letter-spacing: 4px;
}

.ls5 {
  letter-spacing: 5px;
}

.white {
  color: #ffffff;
}

.shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.w100{
  font-weight: 100;
}
.w200{
  font-weight: 200;
}
.w300{
  font-weight: 300;
}
.w400{
  font-weight: 400;
}
.w500{
  font-weight: 500;
}
.w600{
  font-weight: 600;
}
.w700{
  font-weight: 700;
}
.w800{
  font-weight: 800;
}
.w900{
  font-weight: 900;
}
.wNormal{
  font-weight: normal;
}
.wBold{
  font-weight: bold;
}
.wBolder{
  font-weight: bolder;
}
.wLighter{
  font-weight: lighter;
}


/* flama classes */

@font-face {
	font-family: 'Flama-BoldItalic';
	src: url('/Flama/hinted-Flama-BoldItalic.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-BoldItalic.woff2') format('woff2'),
	url('/Flama/hinted-Flama-BoldItalic.woff') format('woff'),
	url('/Flama/hinted-Flama-BoldItalic.ttf') format('truetype'),
	url('/Flama/hinted-Flama-BoldItalic.svg#Flama-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
/*
.flama-bold-italic {
  font-family: 'Flama-BoldItalic';
  font-weight: bold;
	font-style: italic;
}*/

@font-face {
	font-family: 'Flama';
	src: url('/Flama/hinted-Flama.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama.woff2') format('woff2'),
	url('/Flama/hinted-Flama.woff') format('woff'),
	url('/Flama/hinted-Flama.ttf') format('truetype'),
	url('/Flama/hinted-Flama.svg#Flama') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*.flama {
  font-family: 'Flama';
  font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'FlamaBook';
	src: url('/Flama/hinted-Flama-Book-Italic.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Book-Italic.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Book-Italic.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Book-Italic.woff') format('woff'),
	url('/Flama/hinted-Flama-Book-Italic.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Book-Italic.svg#FlamaBook-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/*.flama-book-italic {
  font-family: 'FlamaBook';
  font-weight: normal;
	font-style: italic;
}*/

@font-face {
	font-family: 'FlamaMedium';
	src: url('/Flama/hinted-Flama-Medium.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Medium.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Medium.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Medium.woff') format('woff'),
	url('/Flama/hinted-Flama-Medium.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Medium.svg#FlamaMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

/*.flama-medium {
  font-family: 'FlamaMedium';
  font-weight: 500;
	font-style: normal;
}*/

@font-face {
	font-family: 'FlamaMedium';
	src: url('/Flama/hinted-Flama-Medium-Italic.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Medium-Italic.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Medium-Italic.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Medium-Italic.woff') format('woff'),
	url('/Flama/hinted-Flama-Medium-Italic.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Medium-Italic.svg#FlamaMedium-Italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

/*.flama-medium-italic {
  font-family: 'FlamaMedium';
  font-weight: 500;
	font-style: italic;
}*/

@font-face {
	font-family: 'FlamaLight';
	src: url('/Flama/hinted-Flama-Light.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Light.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Light.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Light.woff') format('woff'),
	url('/Flama/hinted-Flama-Light.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Light.svg#FlamaLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

/*.flama-light {
  font-family: 'FlamaLight';
  font-weight: 300;
	font-style: normal;
}*/

@font-face {
	font-family: 'FlamaBlack';
	src: url('/Flama/hinted-Flama-Black-Italic.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Black-Italic.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Black-Italic.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Black-Italic.woff') format('woff'),
	url('/Flama/hinted-Flama-Black-Italic.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Black-Italic.svg#FlamaBlack-Italic') format('svg');
	font-weight: 900;
	font-style: italic;
}

/*.flama-black-italic {
  font-family: 'FlamaBlack';
  font-weight: 900;
	font-style: italic;
}*/

@font-face {
	font-family: 'FlamaBlack';
	src: url('/Flama/hinted-Flama-Black.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Black.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Black.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Black.woff') format('woff'),
	url('/Flama/hinted-Flama-Black.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Black.svg#FlamaBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

/*.flama-black {
  font-family: 'FlamaBlack';
  font-weight: 900;
	font-style: normal;
}*/

@font-face {
	font-family: 'FlamaBook';
	src: url('/Flama/hinted-Flama-Book.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Book.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Book.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Book.woff') format('woff'),
	url('/Flama/hinted-Flama-Book.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Book.svg#FlamaBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*.flama-book {
  font-family: 'FlamaBook';
  font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'Flama';
	src: url('/Flama/hinted-Flama-Italic.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Italic.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Italic.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Italic.woff') format('woff'),
	url('/Flama/hinted-Flama-Italic.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Italic.svg#Flama-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/*.flama-italic {
  font-family: 'Flama';
  font-weight: normal;
	font-style: italic;
}*/

@font-face {
	font-family: 'Flama';
	src: url('/Flama/hinted-Flama-Bold.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Bold.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Bold.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Bold.woff') format('woff'),
	url('/Flama/hinted-Flama-Bold.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Bold.svg#Flama-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/*.flama-bold {
  font-family: 'Flama';
  font-weight: bold;
	font-style: normal;
}*/

@font-face {
	font-family: 'FlamaLight';
	src: url('/Flama/hinted-Flama-Light-Italic.eot');
	src: local('☺'),
	url('/Flama/hinted-Flama-Light-Italic.eot?#iefix') format('embedded-opentype'),
	url('/Flama/hinted-Flama-Light-Italic.woff2') format('woff2'),
	url('/Flama/hinted-Flama-Light-Italic.woff') format('woff'),
	url('/Flama/hinted-Flama-Light-Italic.ttf') format('truetype'),
	url('/Flama/hinted-Flama-Light-Italic.svg#FlamaLight-Italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

/*.flama-light-italic {
  font-family: 'FlamaLight';
  font-weight: 300;
	font-style: italic;
}*/



/* AkzidenzGrotezk */

@font-face {
  font-family: 'Akzidenz Grotesk BE XBdCn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCnIt.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCnIt.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCnIt.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCnIt.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCnIt.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCnIt.svg#AkzidenzGroteskBE-XBdCnIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

/*.ag-extra-bold-cond-it {
  font-family: 'Akzidenz Grotesk BE XBdCn';
  font-weight: 900;
  font-style: italic;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Bold.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Bold.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Bold.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Bold.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Bold.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Bold.svg#AkzidenzGroteskBE-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/*.ag-bold {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: bold;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE XBdCn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCn.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCn.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCn.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCn.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCn.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBdCn.svg#AkzidenzGroteskBE-XBdCn') format('svg');
  font-weight: 900;
  font-style: normal;
}

/*.ag-extra-bold-cond {
  font-family: 'Akzidenz Grotesk BE XBdCn';
  font-weight: 900;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-It.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-It.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-It.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-It.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-It.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-It.svg#AkzidenzGroteskBE-It') format('svg');
  font-weight: normal;
  font-style: italic;
}

/*.ag-italic {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: normal;
  font-style: italic;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE BoldEx';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldExIt.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldExIt.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldExIt.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldExIt.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldExIt.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldExIt.svg#AkzidenzGroteskBE-BoldExIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

/*.ag-bold-ext-it {
  font-family: 'Akzidenz Grotesk BE BoldEx';
  font-weight: bold;
  font-style: italic;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE LightCn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-LightCn.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightCn.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightCn.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightCn.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightCn.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightCn.svg#AkzidenzGroteskBE-LightCn') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*.ag-light-cond {
  font-family: 'Akzidenz Grotesk BE LightCn';
  font-weight: 300;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE Cn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Cn.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Cn.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Cn.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Cn.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Cn.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Cn.svg#AkzidenzGroteskBE-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*.ag-cond {
  font-family: 'Akzidenz Grotesk BE Cn';
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE Cn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldCn.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldCn.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldCn.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldCn.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldCn.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldCn.svg#AkzidenzGroteskBE-BoldCn') format('svg');
  font-weight: bold;
  font-style: normal;
}

/*.ag-bold-cond {
  font-family: 'Akzidenz Grotesk BE Cn';
  font-weight: bold;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldIt.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldIt.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldIt.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldIt.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldIt.svg#AkzidenzGroteskBE-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

/*.ag-bold-italic {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: bold;
  font-style: italic;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE Ex';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Ex.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Ex.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Ex.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Ex.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Ex.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Ex.svg#AkzidenzGroteskBE-Ex') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*.ag-extended {
  font-family: 'Akzidenz Grotesk BE Ex';
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE LightOsF';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-LightOsF.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightOsF.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightOsF.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightOsF.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightOsF.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightOsF.svg#AkzidenzGroteskBE-LightOsF') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*.ag-light-osf {
  font-family: 'Akzidenz Grotesk BE LightOsF';
  font-weight: 300;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Md.eot');
  src: local('AkzidenzGroteskBE-Md'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Md.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Md.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Md.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Md.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Md.svg#AkzidenzGroteskBE-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}

.ag-medium {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-MdIt.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdIt.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdIt.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdIt.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdIt.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdIt.svg#AkzidenzGroteskBE-MdIt') format('svg');
  font-weight: 500;
  font-style: italic;
}

/*.ag-medium-italic {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: 500;
  font-style: italic;
}*/

/* */
@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Regular.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Regular.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Regular.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Regular.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Regular.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*.ag-regular {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: normal;
  font-style: normal;
}*/
/* */

@font-face {
  font-family: 'Akzidenz Grotesk BE Ex';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-MdEx.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdEx.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdEx.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdEx.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdEx.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdEx.svg#AkzidenzGroteskBE-MdEx') format('svg');
  font-weight: 500;
  font-style: normal;
}

/*.ag-medium-ext {
  font-family: 'Akzidenz Grotesk BE Ex';
  font-weight: 500;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE Super';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Super.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Super.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Super.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Super.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Super.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Super.svg#AkzidenzGroteskBE-Super') format('svg');
  font-weight: 900;
  font-style: normal;
}

/*.ag-super {
  font-family: 'Akzidenz Grotesk BE Super';
  font-weight: 900;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE XBd';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-XBd.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBd.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBd.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBd.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBd.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-XBd.svg#AkzidenzGroteskBE-XBd') format('svg');
  font-weight: 900;
  font-style: normal;
}

/*.ag-extra-bold {
  font-family: 'Akzidenz Grotesk BE XBd';
  font-weight: 900;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE MdCn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCn.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCn.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCn.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCn.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCn.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCn.svg#AkzidenzGroteskBE-MdCn') format('svg');
  font-weight: 500;
  font-style: normal;
}

/*.ag-medium-cond {
  font-family: 'Akzidenz Grotesk BE MdCn';
  font-weight: 500;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE LightEx';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-LightEx.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightEx.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightEx.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightEx.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightEx.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-LightEx.svg#AkzidenzGroteskBE-LightEx') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*.ag-light-extended {
  font-family: 'Akzidenz Grotesk BE LightEx';
  font-weight: 300;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE BoldEx';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldEx.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldEx.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldEx.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldEx.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldEx.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-BoldEx.svg#AkzidenzGroteskBE-BoldEx') format('svg');
  font-weight: bold;
  font-style: normal;
}

/*.ag-bold-ext {
  font-family: 'Akzidenz Grotesk BE BoldEx';
  font-weight: bold;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-Light.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Light.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Light.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Light.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Light.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-Light.svg#AkzidenzGroteskBE-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/*.ag-light {
  font-family: 'Akzidenz Grotesk BE';
  font-weight: 300;
  font-style: normal;
}*/

@font-face {
  font-family: 'Akzidenz Grotesk BE MdCn';
  src: url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCnIt.eot');
  src: local('☺'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCnIt.eot?#iefix') format('embedded-opentype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCnIt.woff2') format('woff2'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCnIt.woff') format('woff'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCnIt.ttf') format('truetype'),
  url('/Akzidenz/hinted-AkzidenzGroteskBE-MdCnIt.svg#AkzidenzGroteskBE-MdCnIt') format('svg');
  font-weight: 500;
  font-style: italic;
}

/*.ag-medium-cond-it {
  font-family: 'Akzidenz Grotesk BE MdCn';
  font-weight: 500;
  font-style: italic;
}*/
